// 베이직 컬러
$basic_color_01: #101010;
$basic_color_02: rgba(20, 62, 57, 0.25);

// 기본 컬러
$primary_color_01: #154d35;
$primary_color_02: #0f3c28;
$primary_color_03: rgba(20, 62, 57, 0.25);

// 이차 컬러
$secondary_color_01: #a8854e;
$secondary_color_02: #715831;
$secondary_color_03: rgba(168, 133, 78, 0.3);

// 텍스트 컬러
$text_color_01: #101010;
$text_color_02: #ffffff;
$text_color_03: #c4cdd4;

// header 컬러
$header_color_01: #272727;

// background 컬러
$bg_color_01: #fafaf6;
